/*fuentes importadas*/

@font-face{
  font-family: "Lora";
  src: url(/fuentes/Lora-Italic-VariableFont_wght.ttf);
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  /* vertical-align: bottom; */

} /* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  /* -webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
/*utilidades*/

img{
  max-width: 100%;
  
}

.contenedor{
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;

}


/*estilos propios*/

.containerHeader{
  height: 100vh;
  background: rgb(255, 136, 0);
  display: flex;
  justify-content: center;
  align-items: center;  
}
.containerMain{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 8rem;/*gap(brecha) define el tamaño de la brecha entre fila y columna - en este caso genera dos cuadros separados*/
  position: absolute;
  z-index: 1;
}
.containerMain .item{
  /*border: 1px solid;*/
}
.item h1{
  font-family: "Lora";
  font-weight: lighter;
  line-height: 4rem;
  font-size: 3.2rem;
  text-transform: capitalize;
  color: black;
  /*text-align: center;*/
  

}
.item ul{
  font-size: 16px;
  font-family: "Lore";
  line-height: 1.3rem;
  margin: 4rem 0;
}
.item button{
  width: 10rem;
  height: 2.8rem;
  background: rgb(128, 128, 238);
  font-family: "Lora";
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  
}
.item:nth-of-type(2){/*La pseudo-clase :nth-of-type() de CSS selecciona uno o más elementos de un tipo dado, en función de su posición entre un grupo de hermanos.*/
display: flex;
justify-content: center;
align-items: center;
}
/*navegador*/
nav{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: .5rem;
}
nav .contenedor{
display: flex;
justify-content: space-between;
}
.contenedor .containerLeft{
  display: inherit;/*inherit. heredando la propiedad*/
  align-items: center;
}
.contenedor h2{
  font-size: 18px;  
}
.containerLinks{
  margin-left: 5rem;
}
.containerLinks a{
  margin-left: 2rem;
  color: white;
  font-family: "Lora";
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}
